
case_study_data.zip
__MACOSX/._1805_download
__MACOSX/1805_download/._LoanStats3a_securev1.csv.zip
__MACOSX/1805_download/._LoanStats3b_securev1.csv.zip
__MACOSX/1805_download/._LoanStats3c_securev1.csv.zip
__MACOSX/1805_download/._LoanStats3d_securev1.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2016Q1.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2016Q2.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2016Q3.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2016Q4.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2017Q1.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2017Q2.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2017Q3.csv.zip
__MACOSX/1805_download/._LoanStats_securev1_2017Q4.csv.zip
case_study_data/1805_download/LoanStats3a_securev1.csv.zip
case_study_data/1805_download/LoanStats3b_securev1.csv.zip
case_study_data/1805_download/LoanStats3c_securev1.csv.zip
case_study_data/1805_download/LoanStats3d_securev1.csv.zip
case_study_data/1805_download/LoanStats_securev1_2016Q1.csv.zip
case_study_data/1805_download/LoanStats_securev1_2016Q2.csv.zip
case_study_data/1805_download/LoanStats_securev1_2016Q3.csv.zip
case_study_data/1805_download/LoanStats_securev1_2016Q4.csv.zip
case_study_data/1805_download/LoanStats_securev1_2017Q1.csv.zip
case_study_data/1805_download/LoanStats_securev1_2017Q2.csv.zip
case_study_data/1805_download/LoanStats_securev1_2017Q3.csv.zip
case_study_data/1805_download/LoanStats_securev1_2017Q4.csv.zip
loanData/clean_data.pickle
